# Python Collaboration Project
## Project 1: Arithmetic Operator Function
> 
> This function will take two arguments and will print out the sum, difference, product, division, and square of the arguments.

In [1]:
# The function declaration
def arith(a,b):
    """
    INTRODUCTION:
    This is a function that takes two arguments and works on them producing their 
    sum, differences, product, divisions, and squares.
    ARGUMENTS:
    a and b
    RETURNS:
    a+b, a-b, b-a, a*b, a/b, b/a, a**2, and b**2 in order.
    """
    print('The sum of the numbers is', a + b)
    print('The difference of the numbers are', a - b, 'and', b-a)
    print('The product of the numbers is', a * b)
    print('The division result of the numbers are', a / b, 'and', b / a)
    print('Finally, the square of the numbers are', a ** 2, 'and', b ** 2)

In [2]:
# Sample function implementation
arith(5,6)

The sum of the numbers is 11
The difference of the numbers are -1 and 1
The product of the numbers is 30
The division result of the numbers are 0.8333333333333334 and 1.2
Finally, the square of the numbers are 25 and 36

In [3]:
# Checking the function documentation
help(arith)

Help on function arith in module __main__:

arith(a, b)
    INTRODUCTION:
    This is a function that takes two arguments and works on them producing their
    sum, differences, product, divisions, and squares.
    ARGUMENTS:
    a and b
    RETURNS:
    a+b, a-b, b-a, a*b, a/b, b/a, a**2, and b**2 in order.

In [5]:
!conda list pandas

# packages in environment at C:\Users\user\Anaconda3:
#
# Name                    Version                   Build  Channel
pandas                    1.0.2            py37h47e9c7a_0

## Project 2: Learners' score sheet
>
> This programme will get user input in the form of learners' names and scores and creates a csv file to store the data.

In [6]:
# Importing the necessary libraries
"""
PROGRAMME NAME:
score_sheet
INTRODUCTION:
This is a programme that allows teachers to enter their learners' information and have two score sheets generated.
INPUTS BY USER:
* subjects
* names
* scores for each entered subject
OUTPUT
* score_sheet1.csv
* score_sheet2.csv
DEPENDENCIES:
numpy=1.18.1
pandas=1.0.2
POINT TO NOTE:
This programme has many limitations that I hope to improve on.
For suggestions and collaboration email shema.omofaye@gmail.com
VERSION:
This is version 1 (v1.0)
"""
import numpy as np
import pandas as pd

# Declaring the variables and getting user input simultaneously
sub = input('Enter subjects separated by comma: ')
# The variables are splitted to get a list
subj = sub.split(',')
name = input('Enter learners\' names separated by comma: ')
names = name.split(',')
sub1 = input('Enter learners\' scores in order separated by comma: ')
score1 = sub1.split(',')
# Converting the score string values to integer and appending them to a new list
scores1 = []
for i in score1:
    i = int(i)
    scores1.append(i)
sub2 = input('Enter learners\' scores in order separated by comma: ')
score2 = sub2.split(',')
scores2 = []
for i in score2:
    i = int(i)
    scores2.append(i)
# Collecting the scores into a single list
sheet = [scores1, scores2]
# Creating a dataframe from the inputs and printing it out
df = pd.DataFrame(data=sheet, columns=names, index=subj)
print(df.head())
# Saving the data frame to a csv file
df.to_csv('score_sheet1.csv')
m = df.transpose()
m.to_csv('score_sheet2.csv')

Enter subjects separated by comma: Basic Science, Agric Science
Enter learners' names separated by comma: Amos Omofaiye,Justina Bako,Grace Paul,Godiya Yunusa,Justina Bitrus
Enter learners' scores in order separated by comma: 45,67,56,58,20
Enter learners' scores in order separated by comma: 90,78,69,70,100
                Amos Omofaiye  Justina Bako  Grace Paul  Godiya Yunusa  \
Basic Science              45            67          56             58
 Agric Science             90            78          69             70

                Justina Bitrus
Basic Science               20
 Agric Science             100

In [7]:
# Getting the rank of the class for the subjects
df.sum().sort_values(ascending=False)

Justina Bako      145
Amos Omofaiye     135
Godiya Yunusa     128
Grace Paul        125
Justina Bitrus    120
dtype: int64

In [8]:
m.describe()

       Basic Science   Agric Science
count       5.000000        5.000000
mean       49.200000       81.400000
std        18.102486       13.371612
min        20.000000       69.000000
25%        45.000000       70.000000
50%        56.000000       78.000000
75%        58.000000       90.000000
max        67.000000      100.000000

In [11]:
df

,Amos Omofaiye,Justina Bako,Grace Paul,Godiya Yunusa,Justina Bitrus
Basic Science,45,67,56,58,20
Agric Science,90,78,69,70,100

In [12]:
m

                Basic Science   Agric Science
Amos Omofaiye              45              90
Justina Bako               67              78
Grace Paul                 56              69
Godiya Yunusa              58              70
Justina Bitrus             20             100

## Project 3: Fun_infominer
>
> This programme interactively collects information from users and displays the information at the end of running.