# Python Collaboration Project
## Project 1: Arithmetic Operator Function
> 
> This function will take two arguments and will print out the sum, difference, product, division, and square of the arguments.

In [1]:
# The function declaration
def arith(a,b):
    """
    INTRODUCTION:
    This is a function that takes two arguments and works on them producing their 
    sum, differences, product, divisions, and squares.
    ARGUMENTS:
    a and b
    RETURNS:
    a+b, a-b, b-a, a*b, a/b, b/a, a**2, and b**2 in order.
    """
    print('The sum of the numbers is', a + b)
    print('The difference of the numbers are', a - b, 'and', b-a)
    print('The product of the numbers is', a * b)
    print('The division result of the numbers are', a / b, 'and', b / a)
    print('Finally, the square of the numbers are', a ** 2, 'and', b ** 2)

In [2]:
# Sample function implementation
arith(5,6)

The sum of the numbers is 11
The difference of the numbers are -1 and 1
The product of the numbers is 30
The division result of the numbers are 0.8333333333333334 and 1.2
Finally, the square of the numbers are 25 and 36

In [3]:
# Checking the function documentation
help(arith)

Help on function arith in module __main__:

arith(a, b)
    INTRODUCTION:
    This is a function that takes two arguments and works on them producing their
    sum, differences, product, divisions, and squares.
    ARGUMENTS:
    a and b
    RETURNS:
    a+b, a-b, b-a, a*b, a/b, b/a, a**2, and b**2 in order.

## Project 2: Learners' score sheet
>
> This programme will get user input in the form of learners' names and scores and creates a csv file to store the data.

In [25]:
# Importing the necessary libraries
"""
PROGRAMME NAME:
score_sheet
INTRODUCTION:
This is a programme that allows teachers to enter their learners' information and have two score sheets generated.
INPUTS BY USER:
* subjects
* names
* scores for each entered subject
OUTPUT
* score_sheet1.csv
* score_sheet2.csv
POINT TO NOTE:
This programme has many limitations that I hope to improve on.
For suggestions and collaboration email shema.omofaye@gmail.com
VERSION:
This is version 1 (v1.0)
"""
import numpy as np
import pandas as pd

In [13]:
# Declaring the variables and getting user input simultaneously
sub = input('Enter subjects separated by comma: ')
# The variables are splitted to get a list
subj = sub.split(',')
name = input('Enter learners\' names separated by comma: ')
names = name.split(',')
sub1 = input('Enter learners\' scores in order separated by comma: ')
score1 = sub1.split(',')
# Converting the score string values to integer and appending them to a new list
scores1 = []
for i in score1:
    i = int(i)
    scores1.append(i)
sub2 = input('Enter learners\' scores in order separated by comma: ')
score2 = sub2.split(',')
scores2 = []
for i in score2:
    i = int(i)
    scores2.append(i)
# Collecting the scores into a single list
sheet = [scores1, scores2]
# Creating a dataframe from the inputs and printing it out
df = pd.DataFrame(data=sheet, columns=names, index=subj)
print(df.head())
# Saving the data frame to a csv file
df.to_csv('score_sheet1.csv')

Enter subjects separated by comma: English Language,Mathematics
Enter learners' names separated by comma: Amos Omofaiye,David Tanko,Justina Ayinmode,Grace Pako
Enter learners' scores in order separated by comma: 23,99,35,39
Enter learners' scores in order separated by comma: 55,56,34,57
                  Amos Omofaiye  David Tanko  Justina Ayinmode  Grace Pako
English Language             23           99                35          39
Mathematics                  55           56                34          57

PermissionError: [Errno 13] Permission denied: 'score_sheet1.csv'

In [14]:
df

                  Amos Omofaiye  David Tanko  Justina Ayinmode  Grace Pako
English Language             23           99                35          39
Mathematics                  55           56                34          57

In [24]:
# Getting the rank of the class for the subjects
df.sum().sort_values(ascending=False)

David Tanko         155
Grace Pako           96
Amos Omofaiye        78
Justina Ayinmode     69
dtype: int64

In [18]:
# Transposing the dataframe in order to be able to get total for each subject
a = df.transpose()

In [19]:
a.describe()

       English Language  Mathematics
count          4.000000     4.000000
mean          49.000000    50.500000
std           34.019602    11.030261
min           23.000000    34.000000
25%           32.000000    49.750000
50%           37.000000    55.500000
75%           54.000000    56.250000
max           99.000000    57.000000

In [20]:
a.to_csv('score_sheet2.csv', index=False)

In [21]:
a.sum()

English Language    196
Mathematics         202
dtype: int64

In [26]:
help(score_sheet)

NameError: name 'score_sheet' is not defined

## Project 3: Fun_infominer
>
> This programme interactively collects information from users and displays the information at the end of running.